.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, max-content);
    grid-column-gap: 20px;
    grid-row-gap: 1em;
    width: 90%;
    margin: 0 auto;
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    background-color: black;
    color: white;
    letter-spacing: 1.3px;
}

.header {
    grid-column: 1 / span 4;
    grid-row: 1;
    position: relative;
    width: 90%;
    margin: 0 auto;
}

.logo {
    font-family: 'Megrim', cursive;
    font-size: 4em;
    font-weight: 200;
    float: left;
    margin: 40px auto;
}

.header ul {
    padding-top: 2em;
    margin: 40px auto;
    text-align: center;
    float: right;
}

ul.wide {
    display: inline-block;
}

ul.mobile {
    display: none;
}

.header li {
    float: right;
    margin-right: 3em;
    list-style-type: none;
    display: inline;
}

a {
    color: white;
    text-decoration: none;
    padding-bottom: 1px;
}

a:hover {
    transition: .5s ease;
    border-bottom: 1px solid skyblue;
    color: skyblue;
}

a.active {
    color: skyblue;
}

.connect {
    grid-column: 2 / span 2;
    grid-row: 6;
    font-weight: 200;
    margin-bottom: 0;
    font-size: 30px
}

.contact {
    grid-column: 2 / span 2;
    grid-row: 7;
    margin: 0 auto;
}

.contact a {
    color: skyblue;
}

footer {
    padding: 20px;
    text-align: center;
    width: 100%;
    margin-bottom: 0;
}

footer h2 {
    margin-bottom: 20px !important;
}

footer a {
    margin: 0 1% 0 1%;
}

footer a:hover {
    border: none;
}

.fab,
.far {
    font-size: 30px;
    color: white;
}

.fab:hover,
.far:hover {
    color: skyblue;
}

/*responsive styles*/

/* mobile devices */
@media only screen and (min-width: 120px) and (max-width: 710px) {

    ul.wide {
        display: none;
    }

    ul.mobile {
        display: inline-block;
        width: 100%;
    }

    .logo {
        font-size: 40px;
        text-align: center;
        width: 100%;
        margin: 0 auto;
    }

    .header ul {
        padding: 0;
        margin: 20px auto;
        text-align: center;
        float: right;
        text-align: center;
    }

    .mobile li {
        width: 25%;
        margin-right: 0;
    }

    footer {
        padding: 0;
    }

    footer a {}
}

/*tablet*/
@media only screen and (min-width: 710px) and (max-width: 975px) {
    .logo {
        text-align: left;
        width: 15%;
        font-size: 28px;
        margin-top: 15px;
    }

    ul.wide {
        padding: 0;
        margin: 20px auto !important;
        float: right;
        text-align: center !important;
        width: 70%;
    }

    .header li {
        width: 25%;
        margin-right: 0;
    }

}

@media only screen and (min-width: 975px) and (max-width: 1320px) {
    .logo {
        text-align: left;
        font-size: 40px;
        margin-top: 8px;
    }

    ul.wide {
        padding: 0;
        margin: 20px auto !important;
        float: right;
        text-align: center !important;
        width: 70%;
    }

    .header li {
        width: 25%;
        margin-right: 0;
    }
}
