img.portrait {
    grid-column: 1 / span 2;
    grid-row: 2;
    width: 80%;
    /*    float: left;*/
    margin-left: 10%;
}

p {
    grid-column: 3 / span 2;
    grid-row: 2;
    line-height: 1.5em;
    letter-spacing: .08em;
}

.connect {
    grid-row: 3;
    text-align: center;
}

.contact {
    grid-row: 4;
}
