.container {
    grid-template-columns: repeat(6, 1fr);
}

.container img {
    width: 95%;
}

#view-button {
    grid-column: 5 / span 2;
    width: 100%;
}

#p1 {
    grid-column: 1 / span 6;
    grid-row: 2;
    margin-bottom: 20px;
}

#story {
    grid-column: 1 / span 3;
    grid-row: 3;
    /*    width: 100%;*/
    margin: 0 auto;
}

#asteroid {
    grid-column: 4 / span 3;
    grid-row: 3;
    /*    width: 100%;*/
    margin: 0 auto;
}

#boss {
    grid-column: 2 / span 3;
    grid-row: 4;
    /*    width: 100%;*/
    margin: 0 auto;
}

#p2 {
    grid-column: 1 / span 6;
    grid-row: 5;
    margin-top: 20px;
}
