.container {
    grid-template-columns: repeat(6, 1fr);
}

.container img {
    width: 95%;
}

#view-button {
    grid-column: 5 / span 2;
    width: 100%;
}

#p1 {
    grid-column: 1 / span 6;
    grid-row: 2;
    margin-bottom: 20px;
}

#story {
    grid-column: 1 / span 3;
    grid-row: 3;
    /*    width: 100%;*/
    margin: 0 auto;
}

#asteroid {
    grid-column: 4 / span 3;
    grid-row: 3;
    /*    width: 100%;*/
    margin: 0 auto;
}

#boss {
    grid-column: 2 / span 3;
    grid-row: 4;
    /*    width: 100%;*/
    margin: 0 auto;
}

#p2 {
    grid-column: 1 / span 6;
    grid-row: 5;
    margin-top: 20px;
}

/* mobile devices */
@media only screen and (min-width: 120px) and (max-width: 510px) {

    .container {
        grid-row-gap: 20px;
    }

    #p1 {
        grid-row: 3;
    }

    #story {
        grid-column: 1 / span 6;
        grid-row: 4;
    }

    #asteroid {
        grid-column: 1 / span 6;
        grid-row: 5;
    }

    #boss {
        grid-column: 1 / span 6;
        grid-row: 6;
    }

    #p2 {
        grid-column: 1 / span 6;
        grid-row: 7;
    }
}

@media only screen and (min-width: 510px) and (max-width: 710px) {

    .container {
        grid-row-gap: 20px;
    }

    #p1 {
        grid-row: 3;
    }

    #story {
        grid-column: 1 / span 3;
        grid-row: 4;
    }

    #asteroid {
        grid-column: 4 / span 3;
        grid-row: 4;
    }

    #boss {
        grid-column: 2 / span 3;
        grid-row: 5;
    }

    #p2 {
        grid-column: 1 / span 6;
        grid-row: 6;
    }
}